//colors
$font_colour: #b0bec5;
$link_colour: #0079ad;
$link_shadow: rgba(0, 121, 173, 0.4);
$button_colour: #009cde;
$white: #fff;
$button_hover_colour: #0c8dc4;

//fonts
$title: title-decorative;
$lato: Lato;

//urls
$url_0: url(/fonts/festivo7.eot);
$url_1: url(/fonts/festivo7.eot?#iefix);
$url_2: url(/fonts/festivo7.woff);
$url_3: url(/fonts/festivo7.ttf);
$url_4: url(/fonts/festivo7.svg#webfont);
$logo: url(/images/logo.png);
$background: url(/images/background.png);

@font-face {
  font-family: $title;
  src: $url_0, $url_1 format("embedded-opentype"), $url_2 format("woff"), $url_3 format("truetype"), $url_4 format("svg");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $font_colour;
  display: table;
  font-weight: 100;
  font-family: $lato;
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: $link_colour;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.container-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  display: block;
  position: relative;
  z-index: 5;
  padding: 15px;
  .main-menu {
    margin: 0 0 0 12px;
    display: inline-block;
    vertical-align: middle;
    ul {
      li {
        display: inline-block;
        padding: 0 12px;
      }
      a {
        padding-bottom: 5px;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 0 0 3px $link_shadow;
        &:hover {
          border-bottom: 2px solid $link_colour;
        }
      }
    }
  }
  .img-logo {
    display: inline-block;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: middle;
    background: $logo center top no-repeat;
    width: 39px;
    height: 33px;
    background-size: 39px 33px;
    padding: 5px;
  }
  div.header-buttons {
    float: right;
    touch-action: none;
  }
}

main {
  display: table-row;
  width: 100%;
  height: 100%;

  &.Home {
    background: $background center;
    background-attachment: fixed;
  }
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 25px 10px;
}

.title {
  font-family: $title;
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: 400;
}

.slogan {
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: 800;
}

.more {
  font-size: 24px;
}

.btn {
  display: inline-block;
  padding: 9px 15px 10px;
  margin-bottom: 0;
  background: $button_colour;
  font-size: 15px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4545em;
  color: $white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background: $button_hover_colour;
  }
  .btn-wide {
    padding-left: 5em;
    padding-right: 5em;
  }

  .btn-white {
    background: $white;
  }
}